/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: "Patrick Hand SC", cursive;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* MAIN LAYOUT */
.main {
    display: flex;
    gap: 80px;
    align-items: center;
    max-width: fit-content;
    margin: auto;
    background: #fff;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* LEFT SECTION */
.container {
    padding: 20px;
}

.container span {
    color: #262977;
    font-size: 40px;
    font-family:
        Arial, Helvetica, sans-serif
}

.container h1 {
    font-weight: 500;
    margin: 10px 0;
}

.container h3 {
    font-weight: 500;
}

/* CONTACT INFO */
.info .icon-text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.icon-text img {
    width: 30px;
    height: 30px;
}

/* FORM CARD */
.contact {
    width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact label {
    font-weight: 600;
    margin-top: 10px;
    display: block;
}

/* INPUTS */
.contact input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* INPUT FOCUS */
.contact input:focus {
    outline: none;
    border-color: #262977;
}

/* ERROR TEXT */
.error {
    color: red;
    font-size: 13px;
    margin-top: 3px;
}

/* INVALID INPUT */
.invalid {
    border: 2px solid red;
}

/* BUTTON */
.contact button {
    width: 100%;
    background-color: #262977;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #1e2166;
}

/* 
.contact-card button {
    margin-right: 5px;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-card button:first-child {
    background: #3498db;
    color: white;
}

.contact-card button:last-child {
    background: red;
    color: white;
} */


.contact_list {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    width: 70%;
}

#contactList div {
    width: 40%;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-size: large;
    padding: 8px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search {
    margin-top: 20px;
}

.search h2 {
    margin-bottom: 10px;
}


.hidden {
    display: none;
}


.edit-btn,
.delete-btn {
    font-size: 14px;
    margin-right: 5px;
}


#contactList .edit-btn {
    width: 150px;
}

#contactList .delete-btn {
    width: 150px;
}


@media (max-width: 900px) {
    .main {
        flex-direction: column;
        gap: 40px;
    }

    .contact {
        width: 100%;
    }
}