body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 5px 0;
    background: #eee;
}

.completed {
    text-decoration: line-through;
    color: gray;
}